<div style="margin-top: 20px;">
  <ejs-treegrid
    #gridTree
    [dataSource]="data"
    [treeColumnIndex]="0"
    childMapping="subtasks"
    [allowPaging]="true"
    height="500"
    width="auto"
    frozenColumns="3"
    [pageSettings]="pageSettings"
    allowTextWrap="true"
    [textWrapSettings]="wrapSettings"
    allowFiltering="true"
    [filterSettings]="filterSettings"
    enableCollapseAll="true"
  >
    <e-columns>
        <e-column width="150">
          <ng-template #template let-data>
            <div  [style.padding-left]="
                data.RowLevel == 2
                  ? '30px'
                  : data.RowLevel == 3
                  ? '60px'
                  : '0px'
                "
              style="display: flex; flex-direction: row; margin-left: 20px"
            >
              <img [src]="'/' + data.PictureUrl" class="avatar" alt="profile" />
            </div>
        </ng-template>
      </e-column>
      <e-column field="Empcode" headerText="รหัสพนักงาน" width="150" textAlign="Left"></e-column>
      <e-column field="PersonName" headerText="ชื่อพนักงาน"  width="200"> </e-column>
      <e-column field="PositionLevel" headerText="ระดับพนักงาน" width="100" textAlign="Left"></e-column>
      <e-column field="Age" headerText="อายุ" textAlign="Left" width="100" ></e-column>
      <e-column field="PositionAge" headerText="อายุในตำแหน่ง" width="150"></e-column>
      <e-column field="WorkAge" headerText="อายุในองค์กร" width="150"></e-column>
      <e-column field="AdjustRank" headerText="การจัดอันดับ" width="150">
        <ng-template #template let-data>
          <input
            class="e-input"
            type="number"
            style="
              width: 50px;
              text-align: center;
              border: solid 1px blue;
              border-radius: 5px;
            "
            [value]="data.AdjustRank"
          />
        </ng-template>
      </e-column>
      <e-column
        field="EvaluatorScoreText"
        headerText="คะแนนประเมิน"
        width="150"
      ></e-column>
      <e-column headerText="คะแนนใหม่	" field="NewGradeName" width="150">
        <ng-template #template let-data>
          <td>
            <ejs-dropdownlist
              id="ddlelement"
              [value]="data.NewGradeName"
              [dataSource]="datamock"
            ></ejs-dropdownlist>
          </td>
        </ng-template>
      </e-column>
      <e-column field="PositionName" headerText="ชื่อตำแหน่ง" width="200" ></e-column>
      <e-column field="PositionShortName" headerText="ชื่อย่อตำแหน่ง" width="200"></e-column>
      <e-column field="PositionWorkLineName" headerText="ตำแหน่งสายงาน" width="200"></e-column>
      <e-column field="PositionExecutiveName" headerText="ตำแหน่งบริหาร" width="200"></e-column>
      <e-column field="UnitCodeName" headerText="หน่วยงาน" width="150"></e-column>

      <e-column headerText="อัตราขึ้นเงินเดือน (%)" width="150">
        <ng-template #template let-data>
          <input
            class="e-input"
            disabled
            type="number"
            style="width: 50px; text-align: center"
            [value]="data.SalaryAdjustPercent"
          />
        </ng-template>
      </e-column>
      <e-column headerText="เงินปรับประจำปี" width="150" >
        <ng-template #template let-data>
          <input
            class="e-input"
            disabled
            style="width: 50px; text-align: right"
            [value]="data.SalaryAdjust | number"
          />
        </ng-template>
      </e-column>
      <e-column headerText="เงินปรับพิเศษ" width="150">
        <ng-template #template let-data>
          <input
            class="e-input"
            disabled
            style="width: 50px; text-align: right"
            [value]="data.SpecialAdjustSalary | number"
          />
        </ng-template>
      </e-column>
      <e-column
        headerText="สรุปเงินประจำปี/กรอบเงินเดือน/รวมอัตราการขึ้นเงินเดือน(%)"
        width="320"
      >
        <ng-template #template let-data>
          <div
            style="
              display: flex;
              flex-direction: column;
              gap: 5px;
              width: 100%;
              flex-wrap: wrap;
            "
          >
            <div style="display: flex; gap: 5px; width: 100%">
              <span style="flex: 1; min-width: 0; text-align: Left"
                >เงินเดือนปัจจุบัน :</span
              >
              <span style="flex: 1; min-width: 0; text-align: Left">{{
                data.BaseSalary | number
              }}</span>
              <span
                *ngIf="!!data.Status"
                [class]="
                  data.Status == 'Under' ||
                  data.Status == 'Over' ||
                  data.Status == 'Over Max'
                    ? ' e-badge e-badge-danger'
                    : ' e-badge e-badge-success'
                "
                style="
                  flex: 1;
                  min-width: 0;
                  text-align: center;
                  font-size: 12px;
                "
                >{{ data.Status }}</span
              >
              <span
                *ngIf="!!data.Status == false"
                style="
                  flex: 1;
                  min-width: 0;
                  text-align: center;
                  font-size: 12px;
                "
              ></span>
            </div>
            <div style="display: flex; gap: 5px; width: 100%">
              <span style="flex: 1; min-width: 0; text-align: Left"
                >เงินเดือนที่ปรับ :</span
              >
              <span style="flex: 1; min-width: 0; text-align: Left">{{
                data.TotalSalaryAdjust | number
              }}</span>
              <span style="flex: 1; min-width: 0; text-align: center">{{
                data.SalaryAdjustPercent | number
              }}</span>
            </div>
            <div style="display: flex; gap: 5px; width: 100%">
              <span style="flex: 1; min-width: 0; text-align: Left"
                >เงินเดือนใหม่ :</span
              >
              <span style="flex: 1; min-width: 0; text-align: Left">{{
                data.NewSalary | number
              }}</span>
              <span
                *ngIf="!!data.SalaryQuartile"
                [class]="
                  data.SalaryQuartile == 'Under' ||
                  data.SalaryQuartile == 'Over' ||
                  data.SalaryQuartile == 'Over Max'
                    ? ' e-badge e-badge-danger'
                    : ' e-badge e-badge-success'
                "
                style="
                  flex: 1;
                  min-width: 0;
                  text-align: center;
                  font-size: 12px;
                "
                >{{ data.SalaryQuartile }}</span
              >
              <span
                *ngIf="!!data.SalaryQuartile == false"
                style="
                  flex: 1;
                  min-width: 0;
                  text-align: center;
                  font-size: 12px;
                "
              ></span>
            </div>
          </div> </ng-template
      ></e-column>
    </e-columns>
  </ejs-treegrid>
</div>
